body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url('https://img.freepik.com/free-photo/workplace-with-blue-office-supplies_23-2147843328.jpg?w=996&t=st=1702883790~exp=1702884390~hmac=a0f05231f5e63eafcfa7a03e2bbbf8733211df7dcd1dd8ae318875027adc39f8');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}